<div class="checkout-suggested-addresses" data-bind="">
    <p>Select the correct address below to ensure timely and accurate delivery. Suggested address corrections are highlighted.</p>
    <div data-bind="foreach: suggestedAddresses">
        <div data-bind="css: { 'selected-address': $parent.suggestedAddressRadio() == id }" class="suggested-address">
            <input type="radio" name="suggested-address"
                   data-bind="attr: {id: 'suggested-address-' + id}, value: id,
                   checked: $parent.suggestedAddressRadio, afterRender: $parent.rearrangeSteps"/>
            <label data-bind="attr: {for: 'suggested-address-' + id}">
                <span data-bind="if: !id"><b>Original Address</b></span>
                <span data-bind="if: id"><b>Suggested Address</b></span>
                <div class="suggested-address-details">
                    <span data-bind="html: changes.street"></span><br>
                    <span data-bind="html: changes.city"></span>,
                    <span data-bind="html: changes.regionCode"></span>
                    <span data-bind="html: changes.countryId"></span>
                    <span data-bind="html: changes.postcode"></span>
                </div>
            </label>
        </div>
    </div>
</div>
