<?xml version="1.0"?>
<!--
/**
 * Taxjar_SalesTax
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Taxjar
 * @package    Taxjar_SalesTax
 * @copyright  Copyright (c) 2017 TaxJar. TaxJar is a trademark of TPS Unlimited, Inc. (http://www.taxjar.com)
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config:etc/system_file.xsd">
    <system>
        <section id="tax">
            <group id="taxjar" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>TaxJar Sales Tax Automation</label>
                <field id="enabled" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Taxjar\SalesTax\Block\Adminhtml\Enabled</frontend_model>
                </field>
                <field id="transactions" translate="label" sortOrder="2" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transaction Sync</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Taxjar\SalesTax\Block\Adminhtml\TransactionSync</frontend_model>
                    <depends><field id="connected">1</field></depends>
                </field>
                <field id="address_validation" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address Validation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Taxjar\SalesTax\Block\Adminhtml\AddressValidation</frontend_model>
                    <depends><field id="connected">1</field></depends>
                </field>
                <field id="backup" translate="label" sortOrder="4" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Backup Rates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Taxjar\SalesTax\Block\Adminhtml\Backup</frontend_model>
                    <comment/>
                    <depends><field id="connected">1</field></depends>
                </field>
                <field id="product_tax_classes" translate="label" sortOrder="5" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Backup Product Tax Classes</label>
                    <comment>When creating or updating backup tax rules, TaxJar will use these product tax classes.</comment>
                    <source_model>Taxjar\SalesTax\Model\Config\Taxclass\Source\Product</source_model>
                    <frontend_model>Taxjar\SalesTax\Block\Adminhtml\Multiselect</frontend_model>
                    <depends><field id="connected">1</field></depends>
                </field>
                <field id="customer_tax_classes" translate="label" sortOrder="6" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Backup Customer Tax Classes</label>
                    <comment>When creating or updating backup tax rules, TaxJar will use these customer tax classes.</comment>
                    <source_model>Taxjar\SalesTax\Model\Config\Taxclass\Source\Customer</source_model>
                    <frontend_model>Taxjar\SalesTax\Block\Adminhtml\Multiselect</frontend_model>
                    <depends><field id="connected">1</field></depends>
                </field>
                <field id="debug" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Taxjar\SalesTax\Block\Adminhtml\Debug</frontend_model>
                    <depends><field id="connected">1</field></depends>
                </field>
                <field id="apikey" translate="label" sortOrder="11" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Token</label>
                    <comment>Your TaxJar API token for sales tax calculations and backup rates.</comment>
                    <depends>
                        <field id="connected">1</field>
                        <field id="debug">1</field>
                    </depends>
                </field>
                <field id="sandbox" translate="label" sortOrder="12" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Sandbox</label>
                    <comment>Use the TaxJar sandbox environment to test API sales tax calculations. We recommend only using this mode in a staging environment. Some features may not work as expected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Taxjar\SalesTax\Block\Adminhtml\Multiselect</frontend_model>
                    <depends>
                        <field id="connected">1</field>
                        <field id="debug">1</field>
                    </depends>
                </field>
                <field id="sandbox_apikey" translate="label" sortOrder="13" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox API Token</label>
                    <comment>Your TaxJar API token for your *sandbox* account.</comment>
                    <depends>
                        <field id="connected">1</field>
                        <field id="debug">1</field>
                    </depends>
                </field>
                <field id="connected" translate="label" sortOrder="14" type="hidden" showInDefault="1" showInWebsite="1" showInStore="1">
                  <frontend_model>Taxjar\SalesTax\Block\Adminhtml\Connected</frontend_model>
                  <depends>
                      <field id="debug">1</field>
                  </depends>
                </field>
            </group>
        </section>
    </system>
</config>
